#container {
	position: relative;
	display: grid;
	height: 100%;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-template-rows: repeat(auto-fill, 100px);
	justify-content: center;
	align-content: center;
}

#menu {
	position:absolute;
	display: flex;
	width: 140px;
	height: 40px;
	right: 30px;
}

#add-file {
	width: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
}

#add-folder {
	width: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.item {
	border: 1px solid #5e1f7c;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.picture {
	height: 65px;
	width: 80px;
	border: 1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 62px;
}

.file-name {
	padding-top: 0px;
	width: 98px;
	height: 33px;
	text-align: center;
	line-height: 100%;
}

.desktop-icon {

}

div {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #cbede8;
}