.container {
	position: relative;
	display: grid;
	height: 100%;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-template-rows: repeat(auto-fill, 100px);
	justify-content: center;
	align-content: center;
	overflow: hidden;
}

#menu {
	position:absolute;
	display: flex;
	width: 140px;
	height: 40px;
	right: 40px;
	top: -40px;
	background-color: #A5668B;
	color: #0E103D;
	border-bottom-left-radius: 20px;
	transition: all 0.5s;
	z-index: 700;
}

#menu:hover, #arrow-container:hover {
	cursor: pointer;
}

.create-button:hover, #file-form i:hover {
	cursor: pointer;
}

#menu div#add-file {
	transition: background 0.3s;
	border-bottom-left-radius: 20px;
}

#menu div#add-file:hover {
	background-color: #965D7F;
}

#menu div#add-folder {
	transition: background 0.3s;
}

#menu div#add-folder:hover {
	background-color: #965D7F;
}

#arrow-container {
	position: absolute;
	display: flex;
	right: 0px;
	width: 40px;
	height: 40px;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	background-color: #0E103D;
	color: #EFE6E8;
	border-radius: 50%;
	transition: all 0.5s;
	z-index: 700;
}

#arrow-container i {
	transition: all 0.7s;
}

#add-file {
	width: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
}

#add-folder {
	width: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.item {
	/*border: 1px solid #5e1f7c;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.picture {
	height: 65px;
	width: 80px;
	/*border: 1px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 62px;
	margin-bottom: 6px;
}

.file-name {
	padding-top: 0px;
	width: 98px;
	height: 33px;
	text-align: center;
	line-height: 100%;
}

.Ftext {
	margin:0;
	display: inline-block;
	padding: 1px 4px;
}

.file-name:hover {
	cursor: default;
}

.form {
	position: absolute;
	top: 80px;
	right: -300px;
	width: 300px;
	height: 200px;
	background-color: #0E103D;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	transition: all 0.5s;
	z-index: 700;
}

.select-color {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:180px;
	margin-left: 10px;
}

.create-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 11px;
}

.word-error {
	position: absolute;
	font-size: 11px;
	top: 57px;
	display: none;
}

input[type="text"] {
	text-align: center;
}

.create-name p {
	margin: 0;
	transition: all 0.3s;
}

.radio-div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: ;
}

.color-div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	background-color: #EFE6E8;
	border-radius: 4px;
	transition: all 0.2s;
}

.color-div.color-error {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(255,124,99,0.8);
	-moz-box-shadow: 0px 0px 4px 2px rgba(255,124,99,0.8);
	box-shadow: box-shadow: 0px 0px 4px 2px rgba(255,124,99,0.8);
}

.color-span {
	width: 24px;
	height: 24px;
	border-radius: 4px;
}

span.color1 {
	background-color: #333676;
}

span.color2 {
	background-color: #C56E00;
}

span.color3 {
	background-color: #979F00;
}

.icon-blue {
	color: #333676;
}

.icon-orange {
	color: #C56E00;
}

.icon-green {
	color: #979F00;
}

.create-button {
	border-radius: 4px;
	outline: none;
	border-width: 0;
	font-family: inherit;
	padding: 2px 7px;
	color: #080922;
	background-color: #f9f9f9;
	transition: all 0.5s;
	border: 1px solid #EFE6E8;
}

.create-button:hover {
	background-color: #965D7F;
	color: white;
}

.exit-form {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 24px;
	color: white;
	transition: all 0.5s;
}

.exit-folder, .exit-file {
	position: absolute;
	right: 4px;
	top: 3px;
	font-size: 15px;
	color: white;
	transition: all 0.5s;
	cursor: pointer;
}

.context-menu, .context-add-menu {
	position: absolute;
	top: -100px;
	left: 0;
	border: 2px solid #965D7F;
	width: 120px;
	z-index: 1000;
	background-color: #A5668B;
}

.context-menu div, .context-add-menu div {
	width: 100%;
	text-align: center;
	padding: 2px 0;
	color: #0E103D;
}

.context-menu div:hover, .context-add-menu div:hover {
	background-color: #965D7F;
	cursor: pointer;
}

.context-delete, .context-add-file {
	border-bottom: 1px solid #965D7F;
}

.context-name, .context-add-folder {
	border-top: 1px solid #965D7F;
}

.new-name-input {
	width: 150px;
	display: flex;
	position: absolute;
	z-index: 2000;
	top: -50px;
}

.new-name-input input {
	width: 120px;
	margin: 0;
	border: 1px solid #0E103D;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	outline: none;
}

.new-name-input button {
	margin: 0;
	width: 30px;
	outline: none;
	font-family: inherit;
	color: #080922;
	background-color: #f9f9f9;
	transition: all 0.5s;
	border: 1px solid #0E103D;
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.new-name-input button:hover {
	background-color: #965D7F;
	color: white;
}

.folder-container, .file-container {
	position: absolute;
	display: flex;
	width: 330px;
	height: 330px;
	top: 250px;
	left: 250px;
	z-index: 2;
	background-color: #fffcfd;
	border: 2px solid #0E103D;
	border-radius: 5px;
	padding-top: 18px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(14,16,61,0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(14,16,61,0.5);
	box-shadow: 0px 2px 5px 0px rgba(14,16,61,0.5);
}

.folder-grid {
	position: relative;
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-template-rows: repeat(auto-fill, 100px);
	justify-content: center;
	align-content: center;
	overflow: hidden;
}

.folder-header, .file-header {
	position: absolute;
	width: 100%;
	height: 20px;
	top: -2px;
	left: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
	color: white;
	background-color: #0E103D;
}

.folder-header p, .file-header p {
	margin: 0;
	padding: 0;
}

.color-button {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	transition-duration: 0.2s;
}

.color-button:hover {
	cursor: pointer;
}

.CB1 {
	top: 20px;
	right: 49px;
	background-color: #333676;
}

.CB2 {
	top: 20px;
	right: 26px;
	background-color: #c56e00;
}

.CB3 {
	top: 20px;
	right: 3px;
	background-color: #979f00;
}

.CBACTIVE {
	animation-name: colorButtonClick;
	animation-duration: 0.4s;
	transform: scale(1.1); 
}

p, button {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

hr {
	margin: 0;
	background-color: #965D7F;
}

span {
	width: 4px;
}

div {
	box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #080922;
	background-color: #EFE6E8;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

@keyframes colorButtonClick {
	0% {transform: scale(1);}
	30% {transform: scale(0.9);}
	100% {transform: scale(1.1);}
}