#container {
	position: relative;
	display: grid;
	height: 100%;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-template-rows: repeat(auto-fill, 100px);
	justify-content: center;
	align-content: center;
	overflow: hidden;
}

#menu {
	position:absolute;
	display: flex;
	width: 140px;
	height: 40px;
	right: 40px;
	top: -40px;
	background-color: #A5668B;
	color: #0E103D;
	border-bottom-left-radius: 20px;
	transition: all 0.5s;
}

#menu div#add-file {
	transition: background 0.3s;
	border-bottom-left-radius: 20px;
}

#menu div#add-file:hover {
	background-color: #965D7F;
}

#menu div#add-folder {
	transition: background 0.3s;
}

#menu div#add-folder:hover {
	background-color: #965D7F;
}

#arrow-container {
	position: absolute;
	display: flex;
	right: 0px;
	width: 40px;
	height: 40px;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	background-color: #0E103D;
	color: #EFE6E8;
	border-radius: 50%;
	transition: all 0.5s;
}

#arrow-container i {
	transition: all 0.7s;
}

#add-file {
	width: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
}

#add-folder {
	width: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.item {
	/*border: 1px solid #5e1f7c;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.picture {
	height: 65px;
	width: 80px;
	/*border: 1px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 62px;
	margin-bottom: 6px;
}

.file-name {
	padding-top: 0px;
	width: 98px;
	height: 33px;
	text-align: center;
	line-height: 100%;
}

.Ftext {
	margin:0;
	display: inline-block;
}

.form {
	position: absolute;
	top: 80px;
	right: -300px;
	width: 300px;
	height: 200px;
	background-color: #0E103D;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	transition: all 0.5s;
}

.select-color {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:180px;
	margin-left: 10px;
}

.create-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 11px;
}

.create-name p {
	margin: 0;
}

.radio-div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: ;
}

.color-div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	background-color: #EFE6E8;
	border-radius: 4px;
}

.color-span {
	width: 24px;
	height: 24px;
	border-radius: 4px;
}

span.color1 {
	background-color: #333676;
}

span.color2 {
	background-color: #C56E00;
}

span.color3 {
	background-color: #979F00;
}

.create-button {
	border-radius: 4px;
	outline: none;
	border-width: 0;
	font-family: inherit;
	padding: 2px 7px;
	color: #080922;
	background-color: #f9f9f9;
	transition: all 0.5s;
	border: 1px solid #EFE6E8;
}

.create-button:hover {
	background-color: #965D7F;
	color: white;
	cursor: pointer;
}

.exit-form {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 24px;
	color: white;
	transition: all 0.5s;
}

.exit-form:hover {
	cursor: pointer;
}

span {
	width: 4px;
}

div {
	box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #080922;
	background-color: #EFE6E8;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}



